
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  /* style */
  font-family: 'Press Start 2P', Courier, monospace;
  --border-color-: green;
  --border-radius-: 15%;
  --separator-color-: white;
  --border-style-: double;
  --box-background-: rgba(0, 0, 0,0.4);
  --nav-background-:black;
  --text-color-:white;

  /* margin & padding */
  --div-space-: 3%;
  --section-margin-: auto 10% 5% 10%;

  /* animation p */

  --animation-name-: none;
  --animation-duration: 4s;
  --animation-iteration-count: infinite;

  /* nav position */

  --hm-color-: white;
  --cp-color-: white;
  --p1-color-: white;
  --p2-color-: white;
  --co-color-: white; 

  /* grid */

  --home-columns-: 1fr 2fr;
  --home-rows-: 1fr;

  --competence-columns-: 1fr 1fr 1fr;
  --competence-rows-: 1fr 1fr;  

  --project-columns-: 1fr 2fr;
  --project-rows-: 1fr;

  --contact-columns-: 1fr 1fr 1fr;
  --contact-rows-: 1fr 1fr;

  --nav-visibility-: grid;
  --nav-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  --nav-right-visibility-: grid;
  --nav-max-height-: 100%;

  --text-font-size-: 0.7vw;
  --title-font-size-: 1vw;
  --menu-font-size-: 0.8vw;

  /* not var */

  background: url(../img/background/background_0.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  scroll-behavior: smooth;
  color: var(--text-color-);

  translate: truex;
}

/* JAVASCRYPT ID */

#hm{
  color:var(--hm-color-);
}
#cp{
  color:var(--cp-color-);
}
#p1{
  color:var(--p1-color-);
}
#p2{
  color:var(--p2-color-);
}
#co{
  color:var(--co-color-);
}

#change_txt{
  background: cornflowerblue;
}

/* NAV */

.nav {  
  width: 80%;
  height: 4%;

  position: fixed;
  top: 0;
  left:10%;

  border-bottom: solid var(--border-color-);
  border-bottom-style: var(--border-style-);
  border-left: solid var(--border-color-);
  border-left-style: var(--border-style-);
  border-right: solid var(--border-color-);
  border-right-style: var(--border-style-);
  background: var(--nav-background-);


  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.nav ul{
  list-style: none;;
  display: var(--nav-visibility-);
  display: flex;
}

.nav ul li{
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  
}

.nav a{
  font-size: var(--menu-font-size-);
  text-align: center;
  text-decoration: none;
  justify-self: center;
  margin: var(--div-space-)
}

/* DESIGN SELECTOR */

.design_selector {
  font-size: 0.5vw;
  width: 8%;
  height: 7.55%;

  position: fixed;
  top: 0;
  left: 91%;

  display: var(--nav-left-visibility-);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background: rgba(0, 0, 0, 0.328);
  justify-items: center;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
  overflow: hidden;  
}

#slide:hover {
  position: fixed;

  top: 0;
  left: 91%;
  
  width: 8%;
  height: 80%;

  
  background: rgba(0, 0, 0, 0.328);
  transition: 1s;
  border: hidden var(--border-color-);
}

#slide{
  height: 8%;
  transition: 1s; 

  border-bottom: solid var(--border-color-);
  border-left: solid var(--border-color-);
  border-right: solid var(--border-color-);
  border-bottom-style: var(--border-style-);
  border-left-style: var(--border-style-);
  border-right-style: var(--border-style-);
}

.design_selector h2{
  text-align: center;
  margin-bottom: 25%;
}
.design_selector ul{
  list-style: none;
}

.design_selector input{
margin: auto;
margin-bottom: 50%;
width: 80%;
border-radius: 15%;
}

.design_selector img{
  max-width: 80%;
}

/* HOME SECTION */

.home {
  margin: var(--section-margin-);
  margin-top: 5%;
  display: grid;
  grid-template-columns: var(--home-columns-);
  grid-template-rows: var(--home-rows-);
  justify-items: center;
  line-height: 200%;
}

.statue { 
  width: 95%;
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);
  min-height: 100%;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
  
}

.statue h3{
  text-align: center;
  border-bottom: solid var(--border-color-);
  margin: var(--div-space-);
  padding-bottom: 3%;
}

.statue grid{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.statue h2{
  text-align: center;
  font-size: var(--title-font-size-);
  margin-bottom: 15%;
}

.statue p{
  font-size: var(--text-font-size-);
  text-align: left;
}

.profile {
  width: 90%;
  min-height: 100%;   
  border: solid var(--border-color-);
  background: var(--box-background-);
  border-style: var(--border-style-);
  display: grid;
  align-items: center;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.profile p {
  text-align: center;
  border-top: solid var(--border-color-);
  margin: var(--div-space-);
  padding-top: 2%;
}

/* COMPETENCE SECTION */

.competence {
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--competence-columns-);
  grid-template-rows: var(--competence-rows-);
}

.competence div {
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);
  margin: 5%;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.competence div h3 {
  font-size: var(--title-font-size-);
  text-align: center;

  border-bottom: solid var(--border-color-);

  margin: 1% 1% 1% 1%;
  padding: 2%;
}

.competence ul
{
  list-style: none;
}

.competence ul li
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-self: right;
}

.competence ul li p
{
  text-align: center;
  padding: 5% 2% 5% 2%;
  font-size: var(--text-font-size-);
}

.competence ul li separator
{
  border: solid var(--separator-color-) 1px;
  margin: 2% 0 2% 0;  
}

/* PROJECT 1 & 2 GLOBAL */

.project {
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--project-columns-);
  grid-template-rows: var(--project-rows-);
  justify-items: center;

}
.project_description {
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);

  width: 95%;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.project_description h3 {
  font-size: var(--title-font-size-);
  text-align: center;
  margin: 5%;

  border-bottom: solid var(--border-color-);
  padding-bottom: 4%;
}

.project_description p {
  line-height: 200%;
  text-align: center;
  font-size: var(--text-font-size-);
  margin: 5%;
}

.project_box {
  width: 95%;
  height: 100%;

  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}
.project_box p{
  text-align: left;

  border-bottom: solid var(--border-color-);
  margin: var(--div-space-);

  padding-bottom: var(--div-space-);
}

.project_box h3 {
  text-align: center;
  font-size: var(--text-font-size-);
  border-top: solid var(--border-color-);
  padding-top: var(--div-space-);
  margin: var(--div-space-);
}

/* PROJECT 1 */

.project_1 iframe{
  margin-left: 3%;
}

/* PROJECT 2 */

.project_2 iframe{
  margin: 2% 2% 0% 2%;
}


/* CONTACT SECTION */

.contact{
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--contact-columns-);
  grid-template-rows: var(--contact-rows-);
  justify-items: center;
}

.contact div{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;

  margin: 15% 5% 5% 5%;
  align-items: center;

  
}
.contact div a {
  width: 100%;
  height: 40%;
  
  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.contact input{
  width: 100%;
  height: 100%;
  
  color: var(--text-color-);
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);
  font-size: 12px;
  align-items: center;
}

.contact div a input:hover {
  font-size: 16px;
  }

.contact div img{
  width: 100%;
  border-radius: 15%;
}

/* OTHER */

/* center image */
.center {
  display: block;
  margin: auto;
  width: 80%;
}

/* animation */

@keyframes neon {
  0%{ border-color:magenta;}
  50%{border-color:white;}
  100%{ border-color:magenta;}
}

