:root {
  --border-color-: green;
  --border-radius-: 15%;
  --separator-color-: white;
  --border-style-: double;
  --box-background-: rgba(0, 0, 0,0.4);

  --template: rgb(255, 184, 103);

  --div-space-: 3%;

  /* animation p */

  --animation-name-: none;
  --animation-duration: 4s;
  --animation-iteration-count: infinite;

  /* menu glow */

  --hm-color-: white;
  --cp-color-: white;
  --p1-color-: white;
  --p2-color-: white;
  --co-color-: white;
  font-family: cursive;

  scroll-behavior: smooth;

  /* grid */

  --home-columns-: 2fr 1fr;
  --home-rows-: 1fr;

  --competence-columns-: 1fr 1fr 1fr;
  --competence-rows-: 1fr 1fr;  

  --project-columns-: 1fr 2fr;
  --project-rows-: 1fr;

  --contact-columns-: 1fr 1fr 1fr;
  --contact-rows-: 1fr 1fr;

  --nav-left-visibility-: grid;
  --nav-right-visibility-: grid;
  --nav-max-height-: 100%;

  --section-margin-: auto 10% 5% 10%;

  background: url(img/background/background_0.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color: #ffffff;
}

/*
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

 @media all and (min-width: 1024px) and (max-width: 1280px) {
   :root {
    --home-columns-: 2fr 1fr;
    --home-rows-: 1fr;

    --competence-columns-: 1fr 1fr 1fr;
    --competence-rows-: 1fr 1fr;

    --project-columns-: 1fr 2fr;
    --project-rows-: 1fr;

    --contact-columns-: 1fr 1fr 1fr;
    --contact-rows-: 1fr 1fr;

    --nav-left-visibility-: grid;
    --nav-right-visibility-: grid;

    --section-margin-: auto 10% 5% 10%; 
   }
  }

 @media all and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --home-columns-: 2fr 1fr;
    --home-rows-: 1fr;

    --competence-columns-: 1fr 1fr;
    --competence-rows-: 1fr 1fr 1fr;

    --project-columns-: 1fr 2fr;
    --project-rows-: 1fr;

    --contact-columns-: 1fr 1fr 1fr;
    --contact-rows-: 1fr 1fr;

    --nav-left-visibility-: none;
    --nav-right-visibility-: grid;

    --section-margin-: auto 0% 5% 10%; 
   }
  }
 
 @media all and (min-width: 480px) and (max-width: 768px) {
  :root {
    --home-columns-: 1fr;
    --home-rows-: 2fr;

    --competence-columns-: 1fr 1fr ;
    --competence-rows-: 1fr 1fr 1fr;

    --project-columns-: 1fr;
    --project-rows-: 1fr 1fr;

    --contact-columns-: 1fr 1fr;
    --contact-rows-: 1fr 1fr 1fr;

    --nav-left-visibility-: none;
    --nav-right-visibility-: none;

    --section-margin-: auto 0% 5% 0%; 
   }
  }
 
 @media all and (max-width: 480px) {
  :root {
    --home-columns-: 1fr;
    --home-rows-: 2fr;

    --competence-columns-: 1fr;
    --competence-rows-: 1fr 1fr 1fr 1fr 1fr 1fr;

    --project-columns-: 1fr;
    --project-rows-: 1fr 1fr;

    --contact-columns-: 1fr 1fr;
    --contact-rows-: 1fr 1fr 1fr;

    --nav-left-visibility-: none;
    --nav-right-visibility-: none;

    --section-margin-: auto 0% 5% 0%; 
   }
  }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { /* Portrait styles here */ }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
   :root{
    --home-columns-: 1fr;
    --home-rows-: 1fr 1fr;
   }
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
  :root{
   }
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
  :root{
   }
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
  :root{
   }
 }

/* JAVASCRYPT ID */

#hm{
  color:var(--hm-color-);
}
#cp{
  color:var(--cp-color-);
}
#p1{
  color:var(--p1-color-);
}
#p2{
  color:var(--p2-color-);
}
#co{
  color:var(--co-color-);
}

#change_txt{
  background: cornflowerblue;
}

/* NAV RIGHT */

.nav_right {
  width: 8%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  border-right: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);

  display: var(--nav-right-visibility-);
  align-items:center;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.nav_right ul{
list-style: none;
}

.nav_right li{
  margin:30% 0 30% 0;
}
.nav_right a{
  text-align: center;
  margin-bottom: 5%;
  text-decoration: none;

}

.nav_right img{
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 30%;
}

/* NAV LEFT */

.nav_left {
  width: 8%;
  height: 100%;

  position: fixed;
  bottom: 0;
  right: 0;

  border-left: solid var(--border-color-);
  background: var(--box-background-);
  border-style: var(--border-style-);

  display: var(--nav-left-visibility-);
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  justify-items: center;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.nav_left h2{
  text-align: center;
  margin-top: 100%;
}
.nav_left ul{
  list-style: none;
}

.nav_left input{
margin: auto;
margin-bottom: 50%;
width: 80%;
border-radius: 15%;
}




/* HOME SECTION */

.home {
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--home-columns-);
  grid-template-rows: var(--home-rows-);
  justify-items: center;
}

.statue { 
  width: 95%;
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);
  min-height: 100%;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.statue h3 {
  text-align: center;
  margin: var(--div-space-);
  padding-bottom: var(--div-space-);
  border-bottom: solid var(--border-color-);
}

.statue ul li{
  list-style: none;
  display: grid;
  grid-template-columns : 2;
}
.statue ul img {
  width: 10%;

  margin: var(--div-space-);

  justify-self: center;
}

.profile {
  width: 90%;
  min-height: 100%;   
  border: solid var(--border-color-);
  background: var(--box-background-);
  border-style: var(--border-style-);
  display: grid;
  align-items: center;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.profile p {
  text-align: center;
  border-top: solid var(--border-color-);
  margin: var(--div-space-);
  padding-top: 2%;
}

/* COMPETENCE SECTION */

.competence {
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--competence-columns-);
  grid-template-rows: var(--competence-rows-);
}

.competence div {
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);
  margin: 5%;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.competence div h3 {
  text-align: center;

  border-bottom: solid var(--border-color-);

  margin: 1% 1% 1% 1%;
  padding: 2%;
}

.competence ul
{
  list-style: none;
}

.competence ul li
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  justify-self: right;
}

.competence ul li p
{
  padding: 5% 0 5% 0;
}

.competence ul li separator
{
  border: solid var(--separator-color-) 1px;
  margin: 5% 0 5% 0;  
}

/* PROJECT 1 & 2 SECTION */

.project {
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--project-columns-);
  grid-template-rows: var(--project-rows-);
  justify-items: center;

}
.project_description {
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);

  width: 95%;

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.project_description h3 {
  text-align: center;
  margin: 5%;

  border-bottom: solid var(--border-color-);
  padding-bottom: 4%;
}

.project_description p {
  text-align: justify;
  margin: 5%;

  border: solid var(--border-color-);
  border-style: var(--border-style-);
}

.project_box {
  width: 95%;

  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}
.project_box p{
  text-align: center;

  border-bottom: solid var(--border-color-);
  margin: var(--div-space-);

  padding-bottom: var(--div-space-);
}

.project_box iframe{
  margin-left: 2%;
}

.project_box img{
  max-width: 80%;
  margin: 5%;
  margin-left:12%;
  content: url(img/horizontal_placeholder.jpeg);
}

.project_box h3 {
  text-align: center;

  border-top: solid var(--border-color-);
  padding-top: var(--div-space-);
  margin: var(--div-space-);
}

/* CONTACT SECTION */

.contact{
  margin: var(--section-margin-);

  display: grid;
  grid-template-columns: var(--contact-columns-);
  grid-template-rows: var(--contact-rows-);
  justify-items: center;
}

.contact div{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;

  margin: 15% 5% 5% 5%;
  align-items: center;

  
}
.contact div form{
  width: 100%;
  height: 40%;
  border: solid var(--border-color-);
  border-style: var(--border-style-);
  background: var(--box-background-);

  animation-name: var(--animation-name-);
  animation-duration: var(--animation-duration);
  animation-iteration-count: var(--animation-iteration-count);
}

.contact div img{
  width: 100%;
  border-radius: 15%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* animation */

@keyframes neon {
  0%{ border-color:magenta;}
  50%{border-color:white;}
  100%{ border-color:magenta;}
}

