:root {
  --border-color-: rgb(0, 0, 0);
  --box-background-: rgba(71, 71, 71, 0.677);

  --hm-color-: white;
  --cp-color-: white;
  --p1-color-: white;
  --p2-color-: white;
  --co-color-: white;


  font-family: cursive;


  background: url(img/ocean.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

* {
  color: white;
}

/* JAVASCRYPT ID */

#hm{
  color:var(--hm-color-);
}
#cp{
  color:var(--cp-color-);
}
#p1{
  color:var(--p1-color-);
}
#p2{
  color:var(--p2-color-);
}
#co{
  color:var(--co-color-);
}

.nav_right {
  width: 8%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;

  border-right: solid var(--border-color-);
  background-color: var(--box-background-);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 2fr 2fr 2fr 8fr;

  align-items:center;
}

.nav_right a {
  margin: auto;
}

.nav_right img{
  max-width: 20%;
  margin: auto;
}

.nav_right div {
  width: 80%;
  height: 50%;
  border: solid var(--border-color-);
  margin: auto;
}

.nav_right div p{
  text-align: center;
  margin-bottom: 5%;

}

.nav_right a img{
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 30%;
}

.nav_left {
  width: 8%;
  height: 100%;

  position: fixed;
  bottom: 0;
  right: 0;

  border-left: solid var(--border-color-);
  background-color: var(--box-background-);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  justify-items: center;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;

  justify-self: center;
}

.statue {
  width: 60%;
  height: 100%;

  justify-self: center;

  border: solid var(--border-color-);
  background-color: var(--box-background-);

  margin: 0% 5% 0% 10%;
}

.statue_grid {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: [competence] 1fr [img] 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.statue h3 {
  text-align: center;
  margin: 3% 3% 3% 3%;
  padding-bottom: 3%;
  border-bottom: solid var(--border-color-);
}

.statue p {
  justify-self: center;
}
.statue_img {
  width: 84px;

  margin: 3% 3% 3% 3%;

  justify-self: center;
}

.profile {
  width: 26%;
  height: 100%;

  justify-self: center;

  border: solid var(--border-color-);
  background-color: var(--box-background-);

  margin: auto 10% auto auto;
}

.profile img {
  justify-self: center;
  margin: 3% 3% 3% 3%;

  max-width: 75%;
}

.profile p {
  text-align: center;
  border-top: solid var(--border-color-);
  margin: 1% 1% 1% 1%;
  padding-top: 2%;
}

.competence {
  margin: auto 10% auto 10%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.competence div {

 

  border: solid var(--border-color-);
  background-color: var(--box-background-);

  margin: 5%;
}

.competence div h3 {
  text-align: center;

  border-bottom: solid var(--border-color-);

  margin: 1% 1% 1% 1%;
  padding: 2%;
}

.competence ul
{
  list-style: none;
}

.competence ul li
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.competence ul li p
{
  padding: 5%;
}

.competence ul li separator
{
  border: solid black 1px;
  margin: 5% 0 5% 0;
}

.project {
  margin: 5% 10% 10% 10%;

  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;

}
.project_description {
  border: solid var(--border-color-);
  background-color: var(--box-background-);

  width: 95%;
}

.project_description h3 {
  text-align: center;
  margin: 5%;

  border-bottom: solid var(--border-color-);
  padding-bottom: 4%;
}

.project_description p {
  text-align: justify;
  margin: 5%;

  border: solid var(--border-color-);
}

.project_box {
  width: 95%;

  border: solid var(--border-color-);
  background-color: var(--box-background-);

}

.project_box iframe{
  margin-left: 2%;
}

.project_box h3 {
  text-align: center;

  border-top: solid var(--border-color-);

  margin-left: 3%;
  margin-right: 3%;
}

.contact{
  margin: 5% 10% 10% 10%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.contact div{
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-items: center;

  margin: 5%;
  
}
.contact div p{
  width: 100%;
  height: 70%;

  border: solid var(--border-color-);
  background-color: var(--box-background-);
}

.contact div img{
  width: 100%;
  border-radius: 15%;
}