@font-face {
    font-family: 'silkscreennormal';
    src: url('/font/slkscr-webfont.woff2') format('woff2'),
         url('/font/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}